body {
    /* background-color: rgb(20,198, 212); */
    background: linear-gradient(to right, cyan 23%, purple);
    /* background: linear-gradient(194deg, rgba(160,236,255,1) 0%, rgba(233,202,255,1) 56%, rgba(255,171,241,1) 100%); */
}
 

html {
    font-size: 1vw;
    font-family: IBM Plex Sans, sans-serif;
    background-color: hsl(270, 29, 56);
}

a {
    text-decoration: none;
}
h1 {
    font-size: 8rem;
    font-family: Nosifer, fantasy;
    font-weight: 200;
    color: rgba(244,0, 14, 0.67);
    text-align: center;
    background-color: hsl(212, 31%, 19%);
    text-shadow: 5px 5px 25px black;
}

p {
    text-indent: 13%;
    font-size: 6mm;
}

h2 {
    font-size: 4rem;
    /* text-decoration: underline overline;
    text-decoration-color: firebrick;
    text-decoration-style: none;
    text-decoration-thickness: 4px; */
    text-decoration: underline overline orangered 4px dashed;
}

img {
    border-radius: 22%;
}
section {
    font-size: 0.5rem;
    font-family: Brush Script MT, serif;
}

section img {
    width: 300px;
}

li {
    background-color: rosybrown;
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    border: 1px solid black;
    width: 50%;
    margin: 0, auto;
}

#Top1 {
    width: 400px;
    border: 1px solid red;
    contain-intrinsic-block-size: 40;
    display: inline;
    margin-bottom: 10vh;
    margin-right: 10vh;
}

#Top2 {
    width: 400px;
    border: 1px solid red;
    contain-intrinsic-block-size: 40;
    display: inline;
    margin-bottom: 10vh;
    margin-left: 10vh;
}

.Cessa {
    margin-top: 10vh;
}

.ShyBun {
    margin-bottom: 10vh;
}

#Puppy li {
    margin: 288px;
    border: 1px solid rebeccapurple;
    padding-top: 2rem;
}
#Puppy {
    width: 288px;
    border: 1px solid rebeccapurple;
    height: 20%;
    display: inline;
}

h3 {
    font-size: 5rem;
    font-family: Monoton, monospace; 
    background-color: aliceblue;

    margin-top: 12vh;
}

.img{
    position: absolute;
}

#HoverImg {
    height: 830px;
    width: 900px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.img:hover #HoverImg {
    display: inline;
}

h4 {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 3rem;
    color: hsl(0, 100%, 50%, 0.5);
    text-transform: uppercase;
    margin-top: 75rem;
    text-transform: capitalize;
    font-weight: 400;
    /* text-shadow: 5px -5px 5px magenta; */
    text-shadow: 5px 5px 2px hsl(180, 100%, 50%, 0.5), 2px 2px 2px hsl(60, 100%, 50%, 0.5);
    text-align: right;
}